{% extends 'base.html' %}
{% load static %}
{% block title %}List of Posts{% endblock title %}
{% block content %}
<section class="container">
    <div class="row text-center mb-4">
        <h1>Reviews</h1>
    </div>
    <!-- Authentication Control -->
    {% if request.user.is_authenticated %}
    <div class="row justify-content-center mb-5">
        <div class="col text-center">
            <a href="{% url 'create-post' %}" class="btn btn-grey" aria-label="Link for creating new review">Add New Review</a>
        </div>
    </div>
    {% endif %}
    <div class="row gap-5 justify-content-center my-auto">
        <!-- Conditional Rendering -->
        {% if page_obj %}
            <div class="row gap-5 justify-content-center my-auto">
                <!-- Loop through the list of Posts -->
                {% for post in page_obj %}
                        <!-- Blog Post Presentation Card -->
                        <div class="col-md-5">
                            <div class="card h-100">
                                <img src="{{ post.featured_image.url }}" class="card-img-top img-preview" alt="{{ post.strip.title }} image">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p>Author:
                                        <a href="{% url 'profile' post.author.id %}" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" aria-label="Link to Profil of post author {{ post.author }}">
                                            @{{ post.author }}
                                        </a>
                                    </p>
                                    <!-- Django safe filter to render html content and truncatewords to show first 30 words -->
                                    {{ post.content|safe|truncatewords:70 }}
                                </div>
                                <div class="text-end m-4 ">
                                    <a href="{% url 'post' post.slug %}" class="btn btn-colors" aria-label="Linkt to complete text of {{ post.title }}">More...</a>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
            <!-- Include pagination template -->
            {% include 'pagination.html' %}
        <!--  Shows when there is no blog posts -->
        {% else %}
            <div class="row text-center mt-4">
                <h2>There are currently no post. <strong>Be the first to add!</strong></h2>
            </div>
        {% endif %}
    </div>
</section>
{% endblock content %}
