{% extends 'base.html' %}
{% block title %}List of Strips{% endblock title %}
{%block content %}
<div class="container">
    <div class="row text-center mb-4">
        <h1>Reviews</h1>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-4 text-center">
            <a href="{% url 'create-post' %}" class="btn btn-grey">Add New Review</a>
        </div>
    </div>
    <div class="row gap-5 justify-content-center my-auto">
        {% for post in page_obj %}
        <div class="col-md-5">
            <div class="card">
                <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.strip.title }} image">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p>Author:
                        <a href="{% url 'profile' post.author.id %}" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">
                            @{{ post.author }}
                        </a>
                    </p>
                    <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-primary">More...</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
