{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Update Review Page{% endblock title %}
{% block content %}
<!-- Strip Post Update Page -->
<div class="container">
    <section class="row justify-content-center">
        <div class="col-md-7">
            <h1 class="mb-4">Update Review</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Update" class="btn btn-green">
                <input type="reset" value="Clear" class="btn btn-outline-secondary">
            </form>
        </div>
    </section>
</div>
{% endblock content %}