{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Write Review Page{% endblock title %}
{% block content %}
<!-- Strip Post Creation Page -->
<div class="container">
    <section class="row justify-content-center">
        <div class="col-md-7">
            <h1 class="mb-4">Write Review</h1>
            <p>There is no edition of the comic you want to write about?</p>
            <a href="{% url 'strip-create' %}" class="btn btn-grey mb-4">You can add here!</a>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Create" class="btn btn-green">
                <input type="reset" value="Clear" class="btn btn-outline-secondary">
            </form>
        </div>
    </section>
</div>
{% endblock content %}