{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Update Review{% endblock title %}
{% block content %}
<!-- Strip Post Update Page -->
<section class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 bg-grey-opacity rounded p-4">
            <h1 class="mb-4">Update Review</h1>
            <!-- Form For Updating Posts -->
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                {{ form.media }}
                <input type="submit" value="Update" class="btn btn-green mt-3">
                <input type="reset" value="Clear" class="btn btn-outline-secondary mt-3 mx-1">
            </form>
        </div>
    </div>
</section>
{% endblock content %}