{% extends 'base.html' %}
{% load static %}
{% block title %}{{ profile.username }} Profile Page{% endblock title %}
{% block content %}
<section class="container">
    <div class="row justify-content-center">
        <!-- User profile card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-3">
                        <!-- Check if user avatar exist -->
                        {% if profile.member.avatar.url %}
                        <img src="{{ profile.member.avatar.url }}" alt="member avatar" width="100" height="100">
                        {% endif %}
                    </div>
                    <!-- Check for existence of first or last name -->
                    {% if profile.first_name or profile.last_name %}
                    <h5 class=" card-title my-3">
                        {{ profile.first_name }} {{ profile.last_name }}
                    </h5>
                    {% endif %}
                    <h6 class="card-subtitle text-muted">
                        {{ profile.username }}
                    </h6>
                </div>
                <ul class="list-group list-group-flush">
                    <!-- Check if member about section exist -->
                    {% if profile.member.about %}
                    <li class="list-group-item">
                        <h6><strong class="text-muted">My Comic Odyssey</strong></h6>
                        {{ profile.member.about|safe}}
                    </li>
                    {% endif %}
                    <!-- Check if member location exist -->
                    {% if profile.member.location %}
                    <li class="list-group-item">
                        <strong class="text-muted">Headquarters: </strong>
                        {{ profile.member.location}}
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <strong class="text-muted">Comic Courier: </strong>
                        <a href="mailto:{{ profile.email }}"
                            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            aria-label="Link to {{ profile.username }} email" target="_blank">
                            {{ profile.email }}
                        </a>
                    </li>
                </ul>
                <!-- Check for authentication and if user is owner of the profile -->
                {% if request.user.is_authenticated and request.user.id == profile.id %}
                <div class="card-body text-center">
                    <a href=" {% url 'profile-update' profile.id %}" class="btn btn-yellow mx-1"
                        aria-label="Update {{ profile.username }} profile"><i class="fa-solid fa-pen-to-square"></i> Update</a>
                    <a href="{% url 'profile-delete' profile.id %}" class="btn btn-red mx-1"
                        aria-label="Delete {{ profile.username }} profile"><i class="fa-regular fa-trash-can"></i> Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Member Post -->
<section class="container mt-5">
    <div class="row text-center mt-5 mb-4">
        <h2>{{ profile.username }}'s Posts</h2>
    </div>
    <div class="row gap-5 justify-content-center my-auto">
        <!-- Conditional Rendering -->
        {% if page_obj %}
            <div class="row gap-5 justify-content-center my-auto">
                <!-- Loop through the list of Posts -->
                {% for post in page_obj %}
                        <!-- Blog Post Presentation Card -->
                        <div class="col-lg-5 col-md-10 col-sm-12">
                            <div class="card h-100">
                                <a href="{% url 'post' post.slug %}" aria-label="Linkt to complete text of {{ post.title }}">
                                    <img src="{{ post.featured_image.url }}" class="card-img-top img-preview" alt="{{ post.strip.title }} image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'post' post.slug %}" class="link-secondary text-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover" aria-label="Linkt to complete text of {{ post.title }}">
                                            {{ post.title }}
                                        </a>
                                    </h5>
                                    <p>Author: {{ post.author }}</p>
                                    <!-- Django safe filter to render html content and truncatewords to show first 30 words -->
                                    {{ post.content|safe|truncatewords:70 }}
                                </div>
                                <div class="text-end mb-4 me-4">
                                    <a href="{% url 'post' post.slug %}" class="btn btn-colors" aria-label="Linkt to complete text of {{ post.title }}">More...</a>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
            <!-- Include pagination template -->
            {% include 'pagination.html' %}
        <!-- Shows when there is no blog posts and the visitor isn't owner of the profile -->
        {% elif request.user.is_authenticated and request.user.id != profile.id and not page_obj %}
        <div class="row text-center mt-4">
            <h3>{{ profile.username }} has no published posts!</h3>
        </div>
        <!--  Shows when there is no blog posts and the visitor is also owner of the profile -->
        {% elif request.user.is_authenticated and request.user.id == profile.id and not page_obj %}
            <div class="row text-center mt-4">
                <h3>You haven't posted yet.</h3>
                <div class="mt-2"><a href="{% url 'create-post' %}" class="btn btn-grey" aria-label="Link for creating new review"><i class="fa-regular fa-square-plus"></i> Write Your First Review</a></div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock content %}