{% extends 'base.html' %}
{% load cloudinary %}
{% block title %}Member Profile{% endblock title %}
{% block content %}
<main>
    <h2>{{ profile.username }}</h2>
    <p>{{ profile.email }}</p>
    <p>{{ profile.first_name }}</p>
    <p>{{ profile.last_name }}</p>
    <p>{{ profile.member.about}}</p>
    {% if profile.member.avatar.url %}
    <img src="{{ profile.member.avatar.url }}" alt="avatar" width="150" height="150">
    {% endif %}
    <p>{{ profile.member.location}}</p>
    {% if request.user.is_authenticated and request.user.id == profile.id %}
    <a href="{% url 'profile-update' profile.id %}">Update</a>
    <a href="{% url 'profile-delete' profile.id %}">Delete</a>
    {% endif %}
</main>
{% endblock content %}