<!-- Idea for use of modal i have got from youtube channel https://www.youtube.com/@djangomastery -->
<!-- Modal -->
<div class="modal fade" id="signOutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Out Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p class="my-auto">{{ request.user.first_name }}, are you sure you want to sign out?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary mx-1" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'sign-out' %}" class="btn btn-green" aria-label="Sign Out from page">Sign Out</a>
            </div>
        </div>
    </div>
</div>