<!-- Background animation container with objects -->
<div class="wrapper-animation">
    <div class="box-animation">
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
        <div class="animation-square"></div>
    </div>
</div>