{% extends 'base.html' %}
{% load static %}
{% block title %}Search Results{% endblock title %}
{% block content %}
<section class="container">
    <div class="row text-center mb-4">
        <h2>Search Results</h2>
    </div>
    <div class="row gap-5 justify-content-center my-auto">
        {% for post in object_list %}
            <!-- Check if posts are approved by admin -->
            {% if post.approved == True %}
                <div class="col-md-5">
                    <div class="card">
                        <a href="{% url 'post' post.slug %}" class="h-100" aria-label="Linkt to complete text of {{ post.title }}">
                            <img src="{{ post.featured_image.url }}" class="card-img-top img-preview" alt="{{ post.strip.title }} image">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'post' post.slug %}" class="link-secondary text-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover" aria-label="Linkt to complete text of {{ post.title }}">
                                    {{ post.title }}
                                </a>
                            </h5>
                            <!-- Django safe filter to render html content and truncatewords to show first 30 words -->
                            {{ post.content|safe|truncatewords:30 }}
                            <div class="text-end">
                                <a href="{% url 'post' post.slug %}" class="btn btn-colors">More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock content %}